#addGameForm {
	max-width: 500px;
	color: black;
	margin:auto;
	border:3px solid rgb(255, 0, 0);
	border-radius: 10px;
	padding: 1%;
}

.addGameFormWheel, .addGameFormInput  {
	background-color: #121212;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 3px;
	margin-bottom: 2px;
	width: 70%;
	color: white;
}

.addGameFormSelect {
	text-align: right;
}

.inputRow {
	display: flex;
	flex-direction: row;
	width: auto;
}

.inputRow p {
	width: 30%;
}

p {
	color: red;
}

table{
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    text-align: center;
    background-color: #2c2c2c;
}

h1 {
    text-align: center;
    margin-top: 20px;
    color: #920303;
}

ul{
    margin: 5px;
    padding: 0;
    list-style: none;
    text-align: left;
}

th, td {
    padding: 15px;
    justify-content: center;
}
th {
    background-color: #920303;
    justify-content: center;
}