
.header_button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    padding: 0 20px;
    border-radius: 5px;
    font-family: serif;
}

ion-searchbar {
    --background: #333333 !important;
    --color: white;
    --border-radius: 5px;
    --placeholder-color: white;
    --placeholder-opacity: 0.5;
    --border-width: 0;
    --box-shadow: none;
    margin-left: 2%;
}


  .overlay_text_bottom {
    font-family: serif;
    position: absolute;
    top: 55%; 
    left: 88%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
  }

.header_button:hover {
    border-bottom: 2px solid #c42741;
    padding: 0 20px;
    background-color: rgb(39, 39, 39);
}
p{
    color: rgb(238, 238, 238) !important;
}

.doc_Title{
    border-bottom: 2px solid #c42741;
    font-family: serif;
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.doc {
    background-color: #c42741;
    color: white;
    font-family: serif;
    padding: 5px;
    border-radius: 5px;
    margin: 5px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}

.doc1{
    background-color: #272727;
    color: white;
    font-family: serif;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}
.doc2{
    background-color: #9d3d3d;
    color: white;
    font-family: serif;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    overflow-y: auto;
}


.banner {
  text-align: center;
  background-color: #c42741;
  font-family: serif;
  color: #ffffff; 
  padding: 20px 0;
  font-size: 35px;
  font-weight: bold;
  position: relative; 
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2); 
}

.banner::before,
.banner::after {
  content: ''; 
  position: absolute;
  left: 10%; 
  right: 10%; 
  height: 3px; 
  background-color: #272727; 
}

.banner::before {
  top: 10%; 
}

.banner::after {
  bottom: 10%;
}

.footer_border {
  border-top: 2px solid #c42741;
  margin-top: 20px;
}
