table{
    margin: 20px auto;
    width: 80%;
    border-collapse: collapse;
    border-spacing: 0;
    position: relative;
}
table, th, td {
    border: none;
    text-align: center;
}

th {
    background-color: #920303 !important;
    color: #000000;
    padding: 15px;
    justify-content: center;
}



table:after {
    content: '';
    display: block;
    height: 5px;
    border-color: #920303;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}

tbody tr:nth-child(even) {
    background-color: #2c2c2c !important;
}

tbody tr:nth-child(odd) {
    background-color: #3f3f3f !important;
}

tbody tr:hover {
    background-color: #00000054 !important;
    color: red;
    cursor: pointer;
}

td {
    padding: 15px;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0) !important;
}

ul{
    margin: 5px;
    padding: 0;
    list-style: none;
    text-align: left;
}

/*------------------ Headers ----------------*/
h1 {
    text-align: center;
    margin-top: 20px;
    color: #920303;
}

/*------------------Pagination button----------------*/

.pagination_button {
    background-color: #920303;
    color: white; 
    border: none; 
    padding: 3px 6px;
    font-size: 0.8rem; 
    margin: 0 5px; 
    margin-bottom: 10px;
    cursor: pointer;
    text-align: center; 
    border-radius: 4px; 
    transition: background-color 0.3s ease; 
}

.pagination_button:hover {
    background-color: #2e0000;
}

.pagination_container {
    margin-top: 13px;
    display: flex; 
    justify-content: center;
    align-items: center; 
}

ion-button.pagination_button {
    --background: #920303;
    --background-activated: #2e0000; 
    --background-focused: #920303; 
    --background-hover: #2e0000; 
    --color: white; 
    --box-shadow: none;
    --border-radius: 4px; 
}

ion-button.pagination_button:hover {
    --background: #2e0000;
}

ion-button.pagination_button:focus {
    outline: none;
    --box-shadow: none;
}

ion-button.pagination_button:active {
    --background: #2e0000;
}
